.dashboard{
    width: calc(100% - 50px);
    height: calc(100vh - 94px);
    background-color: rgb(31, 31, 31);
    padding: 15px 25px;
    max-width: calc(100vw - 50px);
   

}
.dashboard-wrapper{
    width: 100%;
    max-width: 1230px;
    overflow-x: scroll;
}

.dashboard-wrapper::-webkit-scrollbar{
    display: none;
}

.dashbord-rows-top{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.dashbord-rows-top p{
    color: white;
    font-size: 23px;
    font-weight: 500;
    padding-left: 10px;
}
.dashbord-rows-top .end .upload--videos{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    padding: 5px;
    background-color: rgba(116, 116, 116, 0.151);
    display: grid;
    place-content: center;
    cursor: pointer;
}
.dashbord-rows-top .end .upload--videos:hover > svg{
    fill: white;
}
.dashbord-rows-top .end .upload--videos svg{
    color: white;
    fill: rgb(161, 161, 161);
    height: 25px;
    
}

.dashboard-rows-lower{
    width: 100%;
    display: flex;
    gap: 1.7em;
    padding: 25px 0px;
}

.card{
    border: 1px solid rgba(128, 128, 128, 0.288);
    border-radius: 4px;
    flex-grow: 1;
    background-color: rgb(39, 39, 39);
    min-width: 300px;

}

.firstcard{
    box-sizing: content-box;
    height: 480px;
    max-width: 370px;

    padding: 10px;
}
.innner-card{
    width: calc(100% - 120px);
    height: 100%;
    border: 1px dashed rgba(128, 128, 128, 0.356);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5em;
    padding: 0px 60px;
    color: rgb(175, 175, 175);
    font-size: 13px;
    line-height: 1.3rem;
}
.innner-card img{
    width: 150px;
}
.upload-card-hover.show,  .upload-card-hover.show + .bg-black-upload{
    display: block;
}

.upload-card-hover{
    position: fixed;
    z-index: 24;
    /* width: 60vw; */
    min-width: 960px;
    height: 730px;
    background-color: rgb(36, 36, 36);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    display: none;
 

}
.upload-card-hover .right{
    display: flex;
    gap: .4em;
    align-items: center;
}
.upload-card-hover .top{
    display: flex;
    font-size: 20px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.973);
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.226);
    align-items: center;
}
.upload-card-hover button.top-row{
    background-color: transparent;
    border-radius: 50%;
    min-height: 33px;
    max-height: 33px;
    min-width: 33px;
    max-width: 33px;
    margin-top: 0px;
    display: grid;
    place-content: center;
    border: none;
    cursor: pointer;
}
.upload-card-hover button.top-row:active{
    background-color: rgba(133, 133, 133, 0.836);
}
.upload-card-hover svg{
    height: 24px;
    /* width: 100%; */
    fill: rgb(212, 212, 212);
}

.upload-card-hover .top p{
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    color: rgba(255, 255, 255, 0.945);
    
}

.upload-card-hover .middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px 200px;
    gap: 1em;
}
.upload-card-hover .middle .middle-text{
    font-size: 13px;
    text-align: center;
    color: rgb(165, 165, 165);
    margin-top: 15px;
}
.upload-card-hover .middle .middle-text :first-child{
    color: rgb(228, 228, 228);
    font-size: 15px;
    margin-bottom: 5px;
}
.upload-card-hover .middle svg{
    height: 62px;
    width: 62px;
    fill: rgba(255, 255, 255, 0.404);
}
.upload-card-hover .middle  #fileUpload-label{
    background-color: rgb(31, 31, 31);
    height: 75px;
    width: 75px;
    padding: 30px;
    border-radius: 50%;
    display: grid;
    place-content: center;

}
.bg-black-upload{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.589);
    height: 100vh;
    width: 100%;
    z-index: 23;
    display: none;
}
.innner-card button,
.upload-card-button{
    margin-top: 15px;
    /* width: 120px; */
    padding: 9px 20px;
    font-size: 16px;
    background-color: #3ea6ff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 500;
    color: rgb(34, 34, 34);
}
.upload-card-button{
    font-size: 15px;
    padding: 9px 15px;

}
.upload-card-hover .bottom{
    padding: 20px 50px ;
    text-align: center;
    
    font-size: 12px;
    color: rgb(167, 167, 167);
}
.upload-card-hover .bottom span{
    color: #3ea6ff;
    cursor: pointer;
}
.upload-card-hover .bottom :nth-child(2){
    margin-top: 10px;
}
.secondcard{
    height: 455px;
}
.thirdcard{
    height: 420px;
}

.details-wrapper{
    display: flex;
    flex-direction: column;
    height: calc(100% - 64px);
}
.details-wrapper-inner{
    flex-grow: 1;
}
.details-inner{
    padding: 10px 30px;
    max-height: 515px;
    overflow-y: scroll;
    display: none;
}
.details-inner.visible{
    display: block;
}
.details-bottom{
    padding: 17px 20px;
    border-top: 1px solid rgba(252, 252, 252, 0.041);
}
.section-selector{
    padding: 0px 30px;
}
.section-selector .sections{
    display: flex;
    padding: 13px 50px;
    justify-content: space-between;
    color: white;
    position: relative;
}
.section-selector .line-indicator{
    width: 220px;
    background-color: rgba(128, 128, 128, 0.26);
    height: 2px;
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 47px;

}
.section-selector .line-indicator.active{
    background-color: #3ea6ff;
}
.section-selector .line-indicator.num-1{
    left: 110px;  
}
.section-selector .line-indicator.num-2{
    left: 340px;

}
.section-selector .line-indicator.num-3{
    left: 570px;

}
.section-button-selector{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    height: 50px;
    background-color: transparent;
    border: none;
    color: white;
    border-radius: 5px;
    align-content: center;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 255, 0);
    outline: none;
    font-size: 13.5px;
    font-weight: 500;
}
/* .section-button-selector:focus{
    border: 3px solid rgb(46, 141, 204);
} */
.section-button-selector:hover{
    background-color: #215ddd3f;
    cursor: pointer;

}
/* .section-button-selector.active:hover{
    color: grey;
} */
/* .section-button-selector.active:hover .indicator{
    border: 4px solid rgb(77, 77, 77);
} */
.section-button-selector .indicator-container{
    height: 40px;
    width: 24px;
    display: grid;
    place-content: center;
}
.section-button-selector .indicator{
    width: 8px;
    height: 8px;
    background-color: rgb(27, 27, 27);
    border-radius: 100%;
    border: 4px solid rgb(77, 77, 77);
    margin-top: 5px;

}
.section-button-selector.active{
    color: #3ea6ff;
}
.section-button-selector.active .indicator{
    width: 12px;
    height: 12px;
    border: 4px solid #3ea6ff;

}
.details-middle{
    display: flex;
}
.details-left{
    width: calc(100% - 18px);
    padding-left: 18px;
}
.details-right{
    min-width: 310px;
    height: 300px;
    padding-left: 20px;
    margin-top: 5px;
}
.details-right-inner{
    width: 100%;
    height: 100%;
    background-color: black;

}
.section-details-top{
    display: flex;
    align-items: center;
    width: 530px;
    justify-content: space-between;
    padding: 10px 18px;
    padding-top: 5px;
}
.section-details-top :nth-child(1){
    font-size: 24px;
    font-weight: 500;
    color: white;
}
.section-details-top :nth-child(2){
    font-size: 14px;
    font-weight: 500;
    color: #3ea6ff;
    cursor: pointer;
}
.dynamic-details-input{
    padding: 4px 10px;
    color: white;
    outline: none;
}

.dynamic-details-input.title{
    width: 450px;
}
.dynamic-details-input.descriptionString{
    width: 450px;
    min-height: 110px;
}
.limit-container{
    width: fit-content;
    margin-left: auto;
    color: grey;
    font-size: 13px;
    padding: 2px 5px;
    opacity: 0;
}
.input-wrapper{
    box-sizing: border-box;
    margin-top: 5px;
    /* width: calc(100% - 10px); */
    /* background-color: rgba(0, 0, 0, 0.336); */
    position: relative;
    padding: 3px;
    font-size: 15px;
    border: 1px solid rgba(255, 255, 255, 0.26);
    border-radius: 4px;
}
.input-wrapper.focused{
    border: 1px solid #3ea6ff;

}
.input-wrapper.focused .limit-container{
    opacity: 1;
}
.input-wrapper.focused .upper-text{
    color:#3ea6ff ;
}
.input-wrapper.descriptionString{
    margin-top: 25px;
}
.upper-text{
    font-weight: 400;
    font-size: 13px;
    margin-left: 10px;
    color: rgb(175, 175, 175);
    padding: 5px 0px;
}
.input-wrapper .placeholder{
    position: absolute;
    top: 32px;
    left: 13px;
    opacity: 0;
    pointer-events: none;
    color: rgba(122, 122, 122, 0.993);
    
}
.input-wrapper .placeholder.visible{
    opacity: 1;
}

@media(max-width:80em){
    .dashboard{
        max-width: calc(100vw - 120px);
        
    }
}