.table-representation{
    width: calc(100% - 0px);
    padding-left: 0px;
    font-size: 13.3px;
    color: rgb(202, 202, 202);
    height: fit-content;

}

.left-row-sticky{
    display: flex;
    gap: 20px;
    min-width: 320px;
    position: sticky;
    left: 0;
    background-color: rgb(39, 39, 39);
    z-index: 5;
    padding: 8px 0px;
    padding-left: 30px;
    padding-bottom: 5px;


}


.column-representations,
.row-data{
    width: calc(100% - 0px);
    display: grid;
    grid-template-columns: 40% 60%;
    min-height: 30px;
    height: fit-content;
    align-items: center;
 
    position: relative;
    min-width: 1280px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.26);

}
.column-representations{
    white-space: nowrap;
    position: sticky;
    top: 91px;
    z-index: 10;
    background-color: rgb(39, 39, 39);
    transition: top 300ms ease;
}
.column-representations.edit-video-bulk-showing{
    top: 151px;
}

.edit-video-bulk{
    transition: height 300ms ease;
    background-color: white;
    height: 0px;
    position: sticky;
    top: 91px;
    z-index: 22;
}
.edit-draft{
    font-size: 14px;
    font-weight: 500;
    color: #3ea6ff;
    position: absolute;
    right: 33px;
    top: 13px;
    cursor: pointer;
}
.column-representations .left-row-sticky{
    padding: 13px 0px;
    padding-left: 30px;
}
.column-representations .right-side-scrollable{
    padding: 13px 0px;
    color: rgb(202, 202, 202);
    height: fit-content;

}


.right-side-scrollable{
    color: white;
    display: grid;
    width: 100%;
    grid-template-columns: 15% 15% 20% 15% 15% 20%;
    flex-grow: 1;
    min-width: fit-content;
    position: sticky;
    padding: 8px 0px;
    padding-bottom: 5px;
    height: calc(100% - 16px);


}

.edit-video-bulk.show{
    height: 60px;
}

.table-representation img{
    width: 120px;
    height: 68px;
    object-fit: contain;
    background-color: black;
}


.row-title,
.row-description{
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    color: rgba(255, 255, 255, 0.945);
}
.row-title{
    -webkit-line-clamp: 1; 
}
.row-description{
    color: grey;
    margin-top: 5px;
}

.row-column{
    text-align: center;
    flex-grow: 1;
    
}

.row-column.first-col{
    text-align: left;
}


.row-selector{
    width: 20px;
    height: 20px;
    background-color: red;
}
.table-row-video-data{
    overflow: hidden;
    letter-spacing: -.1px;
    font-size: 13px;
    display: flex;
    gap: 1.1em;
    padding-right: 10px;
}
.row-thumbnail{
    position: relative;
}
.row-timestamp{
    font-size: 13px;
    position: absolute;
    right:8px ;
    bottom: 8px;
    z-index: 2;
    color: white;
    background-color: rgba(0, 0, 0, 0.507);
    padding: 1px 2px ;
}
.row-video-info{
    padding: 8px 0px;
    min-width: 0;
}

.row-handler{
    width: 100%;
    display: flex;
    justify-content: end;
    font-size: 13px;
    color: grey;
    padding: 8px 0px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.329);
    border-top:1px solid rgba(128, 128, 128, 0.329) ;
}
.row-handler button{
    background: transparent;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 25px;
    cursor: pointer;
    padding: 2px;
}
.row-handler button:active{
    background: rgba(128, 128, 128, 0.301);
}
.row-handler button svg{
    fill: grey;
}
.row-count{
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}
.rows-count-dropdown{
    position: absolute;
    bottom: 0;
    height: fit-content;
    width: fit-content;
    background-color: rgb(26, 26, 26);
    visibility: hidden;
    border-radius: 6px;
    padding: 8px 0px;
    right: 0;
    z-index: 10;
}
.rows-count-dropdown.show{
    visibility: visible;
}
.row-option{
    font-size: 17px;
    color: white;
    text-align: center;
    padding: 6px 25px;
    cursor: pointer;
}
.row-option.current,
.row-option:hover{
    background-color: rgba(0, 0, 0, 0.493);
}

.current-row-indictor{
    display: flex;
    align-items: center;
    padding: 0px 30px;
}
.row-changer{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-right: 40px;
}
.row-changer svg{
    height: 30px;
    width: 30px;
    fill: grey;
    pointer-events: none;
}
.row-changer-arrow{
    cursor: pointer;
}
@media(max-width: 1380px){
    .left-row-sticky{
        border-right: 2px solid rgba(128, 128, 128, 0.26);
    }
    .column-representations,
    .row-data{
        grid-template-columns: 35% 65%;
    }
}

.row-selector-container{
    height: fit-content;
    width: fit-content;
}
.checkbox-wrapper-46 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }
  
  .checkbox-wrapper-46 .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .checkbox-wrapper-46 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    transform: scale(1);
    vertical-align: middle;
    border: 2px solid grey;
    transition: all 0.2s ease;
    box-sizing: border-box;
  }
  .checkbox-wrapper-46 .cbx span:first-child svg {
    position: absolute;
    top: 2px;
    left: 1px;
    fill: none;
    stroke: black;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0) ;
  }
  .checkbox-wrapper-46 .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: white;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  /* .checkbox-wrapper-46 .cbx:hover span:first-child {
    border-color: white;
  }
   */
  .checkbox-wrapper-46 .checkbox-row-data.checked + .cbx span:first-child {
    background: white;
    border-color: white;
    animation: wave-46 0.4s ease;
  }
  .checkbox-wrapper-46 .checkbox-row-data.checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-46 .checkbox-row-data.checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }
  
  @keyframes wave-46 {
    50% {
      transform: scale(0.9);
    }
  }
  